<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text>
    <h2>Encuentranos en nuestras redes</h2>
  </ion-text>
  <ion-text>Twitter:  </ion-text>  
  <ion-icon name="logo-twitter" size="large"></ion-icon>
  <br>
  <ion-text>Web Page:  </ion-text> 
  <ion-icon name="tv" size="large" url="https://www.google.es/"></ion-icon>
  <br>
  <ion-text>Facebook:  </ion-text> 
  <ion-icon name="logo-facebook" size="large"></ion-icon>  
  <ion-text>
    <h3>Terminos legales y condiciones de uso </h3>
  </ion-text>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</ion-content>
